<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.codemojo.sdk">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity android:name=".ui.GamificationTransactions" />
        <activity android:name=".ui.ReferralActivity" />
        <activity android:name=".ui.AvailableRewardsActivity" android:theme="@style/TranslucentTheme" />
        <activity android:name=".ui.RewardDetailsActivity" android:theme="@style/TranslucentTheme" />
        <activity android:name=".ui.RewardsMilestonesActivity" android:theme="@style/TranslucentTheme" />

    </application>

</manifest>